# Set Theory

This code activity will try to guide you in applying the concepts, methods, and rules of Set Theory through code. We will go through with the data types in which Set Theory can be applied, how to write them in equation form im $\LaTeX$, and then we will try to look at a practical example through a user's requirement.

### Lists

In Python,  the most common iterable collection are lists. In lists, elements are ordered and chageable. Lists are denoted by enclosing objects with square brackets $[ ... ]$. Lists can be accessed through their indices, negative indexing is permitted.

In [1]:
### Declaration
employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi'] ## Best practice when making a list of objects, list variable names should be in plural form

In [5]:
### Single Access
employees[-3]

'Winston'

In [14]:
### Multiple Access
employees[0:3:2]

['John', 'Winston']

In [16]:
### Multiple Access via Loops
for employee in employees: ## To make coding a bit more intuitive, we use the singular form of the list variable name to denote its elements.
    print(employee)

John
Alex
Winston
Bob
Golbi

In [17]:
### Multiple Access via Loops

for i in range(len(employees)): ## You could also use indices for iterations.
    if(i%2 == 0):
        print(employees[i])

John
Winston
Golbi

In [18]:
### Modifying Elements
employees[3] = 'John'
employees[-1] = 'Jimmy'
print(employees)

['John', 'Alex', 'Winston', 'John', 'Jimmy']

In [20]:
### Adding Elements
employees.append("Elfaba")

employees.insert(2, "Ozai")
print(employees)

['John', 'Alex', 'Ozai', 'Ozai', 'Winston', 'John', 'Jimmy', 'Elfaba']

In [33]:
### Removing Elements
# employees.pop() 

# employees.remove("Ozai")

# del employees[-1]

employees.clear()
employees

[]

### Tuples

Tuples are another collection data type in Python. There are several key differences between lists and tuples:
- Tuples are ordered collections, so order cannot be rearranged or modified.
- Since tuples are ordered collections $(a, b) \neq (b, a)$
- They are declared and denoted using parentheses $( ...)$

In [52]:
### Declaration
pix1_colors = (255, 0 , 0)  ## In image processing, this is called a tuple consisting of channels. 
                            ##It is structured as (Red, Green, Blue) such that the values in each channe; ranges from 0 - 255 
pix2_colors = (64, 128, 111)

In [35]:
### Single Access
green = pix2_colors[1]
green

128

In [37]:
pix1_colors[2] != 128

True

In [39]:
### Multiple Access
pix2_colors[1:2:2]

(128,)

In [40]:
### Multiple Access via Loops
for color in pix2_colors:
    print(color)

64
128
111

In [41]:
car_xpos = (3, 5, 12, 15)
car_ypos = (0, 1, 5, 2)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

Coordinates of cars in ordered pair form: (3, 0)
Coordinates of cars in ordered pair form: (5, 1)
Coordinates of cars in ordered pair form: (12, 5)
Coordinates of cars in ordered pair form: (15, 2)

In [42]:
for px_colors in zip(pix1_colors, pix2_colors):
    print(px_colors)

(255, 64)
(0, 128)
(0, 111)

In [44]:
### Modifying Elements

car_xpos[0] != 0

True

In [66]:
### Removing Elements

pix1_colors[0]

255

In [ ]:
### Merging Tuples
car_pos = car_xpos + car_ypos
car_pos

### Sets

Sets are collections which are unordered and unindexed. Repititions are not allowed in set structures and they are denoted by curly brackets $\{ ... \}$.

In [56]:
### Declaration
bakery_A = {'bread', 'cracker', 'croissant', 'eclair', 'parfait','cannele', 'coffee','tea'}
bakery_B = {'bread', 'croissant', 'donuts', 'cinnamon roll', 'cookies','coffee','tea'}
bakery_C = {'bread', 'bread', 'bread'}

In [57]:
print(bakery_C)

{'bread'}

In [65]:
### Accessing Elements
print(bakery_A,[2])

{'parfait', 'croissant', 'cannele', 'cracker', 'bread', 'coffee', 'tea', 'eclair'} [2]

In [68]:
### Multiple Access via Loops
for product in bakery_A:
    print(product)

parfait
croissant
cannele
cracker
bread
coffee
tea
eclair

In [69]:
### Removing an Element
print(bakery_A)
bakery_A.remove('cannele')
print(bakery_A)

{'parfait', 'croissant', 'cannele', 'cracker', 'bread', 'coffee', 'tea', 'eclair'}
{'parfait', 'croissant', 'cracker', 'bread', 'coffee', 'tea', 'eclair'}

In [70]:
### Membership
# print('cannele' in bakery_A)
### Subsets
order = {'coffee', 'tea', 'donuts'}
order.issubset(bakery_A)

False

In [71]:
### Union
print(bakery_A)
print(bakery_B)
baker_st = bakery_A.union(bakery_B)
baker_st

{'parfait', 'croissant', 'cracker', 'bread', 'coffee', 'tea', 'eclair'}
{'donuts', 'croissant', 'cinnamon roll', 'cookies', 'bread', 'coffee', 'tea'}

{'bread',
 'cinnamon roll',
 'coffee',
 'cookies',
 'cracker',
 'croissant',
 'donuts',
 'eclair',
 'parfait',
 'tea'}

In [72]:
### Intersection
bakery_A.intersection(bakery_B)

{'bread', 'coffee', 'croissant', 'tea'}

In [73]:
### Difference
### Unique elements that is in Bakery but not in Bakery B
bakery_B.difference(bakery_A)

{'cinnamon roll', 'cookies', 'donuts'}

### Dictionaries

Dictionaries are collections which is unordered, changeable like sets but are indexed. Like sets, they are denoted witn $\{...\}$ but objects are characterized by <b>keys</b> and described using <b>values</b>.

In [74]:
### Declaration
bakery_A_prices = {'bread' : 60, 
            'cracker': 15, 
            'croissant': 40, 
           }

In [75]:
## Accessing
bakery_A_prices['bread']

60

In [76]:
## Accessing via Loops
for product in bakery_A_prices:
    print(product)

bread
cracker
croissant

In [77]:
for product in bakery_A_prices:
    print(bakery_A_prices[product])

60
15
40

In [78]:
for price in bakery_A_prices.values():
    print(price)

60
15
40

In [79]:
for product, price in bakery_A_prices.items():
    print(product, price)

bread 60
cracker 15
croissant 40

In [80]:
## Update / Modification
print(bakery_A_prices['bread'])
bakery_A_prices['bread'] *= 0.8
print(bakery_A_prices['bread'])

60
48.0

In [81]:
## Adding Elements
print(bakery_A_prices)
bakery_A_prices['coffee'] = 110
print(bakery_A_prices)

{'bread': 48.0, 'cracker': 15, 'croissant': 40}
{'bread': 48.0, 'cracker': 15, 'croissant': 40, 'coffee': 110}

In [82]:
## Removing Elements
print(bakery_A_prices)
print(bakery_A_prices.pop('cracker'))
print(bakery_A_prices)

{'bread': 48.0, 'cracker': 15, 'croissant': 40, 'coffee': 110}
15
{'bread': 48.0, 'croissant': 40, 'coffee': 110}

## Dataset Operations

For this section, we will use the sets below to practice some practical dataset operations.

In [84]:
prime = [2,3,5,7,11,13,15,17,19,23,29,31,37]
odd = [1,3,5,7,9,11,13,15,17,19,21,23,29,31,37]

## Intersection / Similarities

In [85]:
for num in prime:
    if num in odd:
        print(num)

3
5
7
11
13
15
17
19
23
29
31
37

In [86]:
def intersection(list1, list2):
    intersect = [num for num in list1 if num in list2]
    return intersect
print (num)

37

In [87]:
prime_n_odd = intersection(prime, odd)
prime_n_odd

[3, 5, 7, 11, 13, 15, 17, 19, 23, 29, 31, 37]

## Subtraction / Uniqueness

In [88]:
for num in prime:
    if num not in odd:
        print(num)

2

In [89]:
def subtraction(list1, list2):
    less  =[num for num in list1 if num not in list2]
    return less

In [90]:
prime_less_odd = subtraction(prime, odd)
prime_less_odd

[2]

## Union / Merge

In [96]:
union_repeat = prime + odd
union_repeat.sort()
union_repeat

[1,
 2,
 3,
 3,
 5,
 5,
 7,
 7,
 9,
 11,
 11,
 13,
 13,
 15,
 15,
 17,
 17,
 19,
 19,
 21,
 23,
 23,
 29,
 29,
 31,
 31,
 37,
 37]

In [93]:
union_norepeat = intersection(prime, odd) + subtraction(prime, odd) + subtraction(odd, prime)
union_norepeat.sort()
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 29, 31, 37]

In [97]:
union_norepeat = list(set(prime).union(set(odd)))
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 29, 31, 37]

In [102]:
def union(list1, list2, repetition=True):
    if repetition:
        pass
    else:
        pass
    return None

In [103]:
prime_u_odd = union(prime, odd)
print(prime_u_odd)

None

## Scratch Area

You can use the area below to try your own code.

In [117]:
Fandoms = [ 'Maroon 5', 'The Script', 'Coldplay', 'The Beatles', 'Paramore', 'IV of Spades', 'K-pop' ] 
Inspiration = [ 'Adam Levine', 'Danny ODonoghue', 'Chris Martin', 'John Lennon', 'Hayley Nichole Williams', 'Zild Benitez', 'Blackpink']

In [141]:
HunionI = Fandoms + Inspiration
HunionI.sort()
HunionI

['Adam Levine',
 'Blackpink',
 'Chris Martin',
 'Coldplay',
 'Danny ODonoghue',
 'Hayley Nichole Williams',
 'IV of Spades',
 'John Lennon',
 'K-pop',
 'Maroon 5',
 'Paramore',
 'The Beatles',
 'The Script',
 'Zild Benitez']