# Set Theory

This code activity will try to guide you in applying the concepts, methods, and rules of Set Theory through code. We will go through with the data types in which Set Theory can be applied, how to write them in equation form im $\LaTeX$, and then we will try to look at a practical example through a user's requirement.

### Lists

In Python,  the most common iterable collection are lists. In lists, elements are ordered and chageable. Lists are denoted by enclosing objects with square brackets $[ ... ]$. Lists can be accessed through their indices, negative indexing is permitted.

In [5]:
### Declaration
employees = ['John', 'Alex', 'Winston', 'Bob', 'Golbi'] ## Best practice when making a list of objects, list variable names should be in plural form

In [6]:
### Single Access
employees[-3]

'Winston'

In [7]:
### Multiple Access
employees[0:3:2]

['John', 'Winston']

In [8]:
### Multiple Access via Loops
for employee in employees: ## To make coding a bit more intuitive, we use the singular form of the list variable name to denote its elements.
    print(employee)

John
Alex
Winston
Bob
Golbi

In [9]:
### Multiple Access via Loops

for i in range(len(employees)): ## You could also use indices for iterations.
    if(i%2 == 0):
        print(employees[i])

John
Winston
Golbi

In [10]:
### Modifying Elements
employees[3] = 'John'
employees[-1] = 'Jimmy'
print(employees)

['John', 'Alex', 'Winston', 'John', 'Jimmy']

In [11]:
### Adding Elements
employees.append("Elfaba")

employees.insert(2, "Ozai")
print(employees)

['John', 'Alex', 'Ozai', 'Winston', 'John', 'Jimmy', 'Elfaba']

In [12]:
### Removing Elements
employees.pop() 

employees.remove("Ozai")

del employees[-1]

employees.clear()

print(employees)

[]

### Tuples

Tuples are another collection data type in Python. There are several key differences between lists and tuples:
- Tuples are ordered collections, so order cannot be rearranged or modified.
- Since tuples are ordered collections $(a, b) \neq (b, a)$
- They are declared and denoted using parentheses $( ...)$

In [14]:
### Declaration
pix1_colors = (255, 0 , 0)  ## In image processing, this is called a tuple consisting of channels. 
                            ##It is structured as (Red, Green, Blue) such that the values in each channe; ranges from 0 - 255 
pix2_colors = (64, 128, 111)

In [26]:
### Single Access
red = pix1_colors[1]

In [28]:
### Multiple Access
employees[0:3:2]

[]

In [29]:
### Multiple Access via Loops
for color in pix_colors:
    print(color)

255
0
0

In [41]:
car_xpos = (3, 5, 12, 15)
car_ypos = (0, 1, 5, 2)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

Coordinates of cars in ordered pair form: (3, 0)
Coordinates of cars in ordered pair form: (5, 1)
Coordinates of cars in ordered pair form: (12, 5)
Coordinates of cars in ordered pair form: (15, 2)

In [42]:
for px_colors in zip(pix1_colors, pix2_colors):
    print(px_colors)

(255, 64)
(0, 128)
(0, 111)

In [31]:
### Modifying Elements
car_xpos = (3, 5, 12, 15)
car_xpos[0]

3

In [39]:
### Removing Elements

del pix1_colors(0)

In [ ]:
### Merging Tuples
car_pos = car_xpos + car_ypos

### Sets

Sets are collections which are unordered and unindexed. Repititions are not allowed in set structures and they are denoted by curly brackets $\{ ... \}$.

In [41]:
### Declaration
bakery_A = {'bread', 'cracker', 'croissant', 'eclair', 'parfait','cannele', 'coffee','tea'}
bakery_B = {'bread', 'croissant', 'donuts', 'cinnamon roll', 'cookies','coffee','tea'}
bakery_C = {'bread', 'bread', 'bread'}

In [42]:
print(bakery_C)

{'bread'}

In [44]:
### Accessing Elements
bakery_A[0]

TypeError: 'set' object is not subscriptable

In [45]:
### Multiple Access via Loops
for product in bakery_A:
    print(product)

cracker
eclair
bread
parfait
coffee
croissant
cannele
tea

In [46]:
### Removing an Element

bakery_A.remove('cannele')

In [47]:
### Membership
'coffee' in bakery_A
### Subsets
order = {'coffee', 'cinnamon roll'}
order.issubset(bakery_A)

False

In [48]:
### Union
baker_st = bakery_A.union(bakery_B)
baker_st

{'bread',
 'cinnamon roll',
 'coffee',
 'cookies',
 'cracker',
 'croissant',
 'donuts',
 'eclair',
 'parfait',
 'tea'}

In [49]:
### Intersection
bakery_A.intersection(bakery_B)

{'bread', 'coffee', 'croissant', 'tea'}

In [51]:
### Difference
bakery_A.difference(bakery_B)

{'cracker', 'eclair', 'parfait'}

### Dictionaries

Dictionaries are collections which is unordered, changeable like sets but are indexed. Like sets, they are denoted witn $\{...\}$ but objects are characterized by <b>keys</b> and described using <b>values</b>.

In [98]:
### Declaration
bakery_A_prices = {'bread' : 60, 
            'cracker': 15, 
            'croissant': 40, 
           }

In [99]:
## Accessing
bakery_A_prices['bread']

60

In [100]:
## Accessing via Loops
for product in bakery_A_prices:
    print(product)

bread
cracker
croissant

In [101]:
for product in bakery_A_prices:
    print(bakery_A_prices[product])

60
15
40

In [102]:
for price in bakery_A_prices.values():
    print(price)

60
15
40

In [103]:
for product, price in bakery_A_prices.items():
    print(product, price)

bread 60
cracker 15
croissant 40

In [104]:
## Update / Modification
bakery_A_prices['bread'] *= 0.8

In [105]:
## Adding Elements
bakery_A_prices['coffee'] = 110

In [106]:
## Removing Elements
print(bakery_A_prices)
print(bakery_A_prices.pop('cracker'))
print(bakery_A_prices)

{'bread': 48.0, 'cracker': 15, 'croissant': 40, 'coffee': 110}
15
{'bread': 48.0, 'croissant': 40, 'coffee': 110}

# List

In [107]:
Fruits = ["Apple", "Avocado", "Blueberries", "Grapefruit", "Grapes" ]

In [108]:
#Single Access
Fruits [3]

'Grapefruit'

In [109]:
#Multiple Access
Fruits [0:2:1]

['Apple', 'Avocado']

In [110]:
### Multiple Access (Loops)
for fruits in Fruits:
    print(fruits)

Apple
Avocado
Blueberries
Grapefruit
Grapes

In [111]:
#Adding Elements
Fruits = ["Apple", "Avocado", "Blueberries", "Grapefruit", "Grapes" ]
Fruits.append("Mango")
print(Fruits)

['Apple', 'Avocado', 'Blueberries', 'Grapefruit', 'Grapes', 'Mango']

In [112]:
Fruits = ["Apple", "Avocado", "Blueberries", "Grapefruit", "Grapes" ]
Fruits.insert(3, "Orange")
print(Fruits)

['Apple', 'Avocado', 'Blueberries', 'Orange', 'Grapefruit', 'Grapes']

In [113]:
### Removing Elements
Fruits = ["Apple", "Avocado", "Blueberries", "Grapefruit", "Grapes" ]
Fruits.pop()

'Grapes'

In [114]:
Fruits = ["Apple", "Avocado", "Blueberries", "Grapefruit", "Grapes" ]
Fruits.pop(3)

'Grapefruit'

In [115]:
Fruits = ["Apple", "Avocado", "Blueberries", "Grapefruit", "Grapes" ]
Fruits.remove("Blueberries")
print(Fruits)

['Apple', 'Avocado', 'Grapefruit', 'Grapes']

In [116]:
Fruits = ["Apple", "Avocado", "Blueberries", "Grapefruit", "Grapes" ]
del Fruits [-1]
print(Fruits)

['Apple', 'Avocado', 'Blueberries', 'Grapefruit']

In [117]:
Fruits = ["Apple", "Avocado", "Blueberries", "Grapefruit", "Grapes" ]
Fruits.clear()
print(Fruits)

[]

In [118]:
Fruits = ["Apple", "Avocado", "Blueberries", "Grapefruit", "Grapes" ]
Fruits.clear()
Fruits

[]

# Sets

In [129]:
#Sets
Shoes = {'Adidas', 'Nike', 'Jordan', 'Underarmour', 'Vans', 'Lacoste'}
Clothes = {'Balenciaga', 'Zara', 'Adidas', 'Nike', 'Lacoste', 'Jordan'}

In [130]:
#Accessing Elements
print(Shoes) 
print(Clothes)

{'Lacoste', 'Jordan', 'Vans', 'Adidas', 'Nike', 'Underarmour'}
{'Lacoste', 'Jordan', 'Balenciaga', 'Adidas', 'Nike', 'Zara'}

In [131]:
shoes = list(Shoes)
shoes[1]

'Jordan'

In [132]:
#Multiple Access via Loops
for shoes in Shoes:
    print(shoes)

Lacoste
Jordan
Vans
Adidas
Nike
Underarmour

In [138]:
#Removing an Element
Shoes.remove("Lacoste")
print(Shoes)

{'Jordan', 'Adidas', 'Nike', 'Underarmour'}

In [139]:
#Membership
'Nike' in Shoes
### Subsets
CustomersChoice = {'Nike','Adidas'}
CustomersChoice.issubset(Shoes)

True

In [143]:
#Union
Brands = Shoes.union(Clothes)
Brands

{'Adidas', 'Balenciaga', 'Jordan', 'Lacoste', 'Nike', 'Underarmour', 'Zara'}

In [144]:
#Intersection
Shoes.intersection(Clothes)

{'Adidas', 'Jordan', 'Nike'}

In [142]:
#Difference
Shoes.difference(Clothes)

{'Underarmour'}

# Tuples

In [159]:
### Declaration
pix1_colors = (16, 0 , 64)  
pix2_colors = (64, 111, 0)

In [160]:
### Single Access
red = pix1_colors[1]

In [162]:
### Multiple Access via Loops
for color in pix1_colors:
    print(color)

16
0
64

In [164]:
car_xpos = (5, 2, 9, 11)
car_ypos = (9, 4, 15, 6)
### Multiple Access via Parallel Iteration
for pos in zip(car_xpos, car_ypos):
    print(f'Coordinates of cars in ordered pair form: {pos}')

Coordinates of cars in ordered pair form: (5, 9)
Coordinates of cars in ordered pair form: (2, 4)
Coordinates of cars in ordered pair form: (9, 15)
Coordinates of cars in ordered pair form: (11, 6)

In [165]:
for px_colors in zip(pix1_colors, pix2_colors):
    print(px_colors)

(16, 64)
(0, 111)
(64, 0)

In [169]:
### Modifying Elements
car_xpos = (5, 2, 9, 11)
car_xpos[0]

5

In [ ]:
### Removing Elements

del pix1_colors(0)

In [172]:
### Merging Tuples
car_pos = car_xpos + car_ypos

# Dictionaries

In [149]:
#Dictionary
NameandAge = {'Jeric' : 20, 
            'Mark': 22, 
            'Kim': 24, 
            'Jubs': 18,
            'Ivy': 18
           }

In [150]:
#Accessing
NameandAge['Jeric']

20

In [151]:
## Accessing via Loops
for a in NameandAge:
    print(a)

Jeric
Mark
Kim
Jubs
Ivy

In [152]:
for a in NameandAge:
    print(NameandAge[a])

20
22
24
18
18

In [154]:
for age in NameandAge.values():
    print(age)

20
22
24
18
18

In [155]:
for name, age in NameandAge.items():
    print(name, age)

Jeric 20
Mark 22
Kim 24
Jubs 18
Ivy 18

In [156]:
#Update / Modification
NameandAge['Mark'] = 22 + 3
print(NameandAge['Mark'])

25

In [157]:
#Adding Elements
NameandAge['James'] = 1

In [158]:
## Removing Elements
print(NameandAge)
print(NameandAge.pop('James'))
print(NameandAge)

{'Jeric': 20, 'Mark': 25, 'Kim': 24, 'Jubs': 18, 'Ivy': 18, 'James': 1}
1
{'Jeric': 20, 'Mark': 25, 'Kim': 24, 'Jubs': 18, 'Ivy': 18}

## Dataset Operations

For this section, we will use the sets below to practice some practical dataset operations.

In [64]:
prime = [2,3,5,7,11,13,15,17,19,23,29,31,37]
odd = [1,3,5,7,9,11,13,15,17,19,21,23,29,31,37]

## Intersection / Similarities

In [65]:
for num in prime:
    if num in odd:
        print(num)

3
5
7
11
13
15
17
19
23
29
31
37

In [66]:
def intersection(list1, list2):
    intersect = [num for num in list1 if num in list2]
    return intersect
print (num)

37

In [67]:
prime_n_odd = intersection(prime, odd)
prime_n_odd

[3, 5, 7, 11, 13, 15, 17, 19, 23, 29, 31, 37]

## Subtraction / Uniqueness

In [68]:
for num in prime:
    if num not in odd:
        print(num)

2

In [69]:
def subtraction(list1, list2):
    less  =[num for num in list1 if num not in list2]
    return less

In [70]:
prime_less_odd = subtraction(prime, odd)
prime_less_odd

[2]

## Union / Merge

In [71]:
union_repeat = prime + odd
union_repeat.sort()
union_repeat

[1,
 2,
 3,
 3,
 5,
 5,
 7,
 7,
 9,
 11,
 11,
 13,
 13,
 15,
 15,
 17,
 17,
 19,
 19,
 21,
 23,
 23,
 29,
 29,
 31,
 31,
 37,
 37]

In [72]:
union_norepeat = intersection(prime, odd) + subtraction(prime, odd) + subtraction(odd, prime)
union_norepeat.sort()
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 29, 31, 37]

In [73]:
union_norepeat = list(set(prime).union(set(odd)))
union_norepeat

[1, 2, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 29, 31, 37]

In [74]:
def union(list1, list2, repetition=True):
    if repetition:
        pass
    else:
        pass
    return None

In [75]:
prime_u_odd = union(prime, odd)
print(prime_u_odd)

None

## Scratch Area

You can use the area below to try your own code.

In [76]:
Fandoms = [ 'Maroon 5', 'The Script', 'Coldplay', 'The Beatles', 'Paramore', 'IV of Spades', 'K-pop' ] 
Inspiration = [ 'Adam Levine', 'Danny ODonoghue', 'Chris Martin', 'John Lennon', 'Hayley Nichole Williams', 'Zild Benitez', 'Blackpink']

In [77]:
HunionI = Fandoms + Inspiration
HunionI.sort()
HunionI

['Adam Levine',
 'Blackpink',
 'Chris Martin',
 'Coldplay',
 'Danny ODonoghue',
 'Hayley Nichole Williams',
 'IV of Spades',
 'John Lennon',
 'K-pop',
 'Maroon 5',
 'Paramore',
 'The Beatles',
 'The Script',
 'Zild Benitez']